* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 font-size: 62.5%;
}

body {
  background-color: white;
  color: #323238;

  font-family: 'Roboto', sans-serif;
  display: flex;
}

.controlsTimer button{
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.controlsAudio button{
  background-color: #E1E1E6;
  border:none;
  cursor: pointer;

  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
}

.controlsAudio button:focus{
  background-color: #02799D;
}

.controlsAudio button svg path:focus{
  fill: white;
}

.controlsTimer button svg{
  width: clamp(4.8rem, 4rem + 12vw, 6.4rem);
}

#timer {
  font-size: clamp(4.4rem, 4rem + 10vw, 8.8rem);

  display: flex;
  margin-bottom: 1.6rem;
}